.delete-btn {
  background-color: #3CFAA5;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}