h1 {
    font-size: 32px;
    color: #525f77 !important;
    font-weight: 900;
    margin-bottom: 5px;
}

p {
    font-size: small;
    padding: 5px;
}

p.ingredients {
    font-size: medium;
    font-weight: 300;
}