.cancel-btn {
    
    background-color: #dfc4f7;
    border: none;
    color: #515d75;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }