/* Split Complementary color theme for #DFC4F7

A: #DFC4F7
B: #AD55FA
C: #4898FA
D: #21AD6F
E: #3CFAA5

*/

body {
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
    color: white;
}